@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');
$peach:#E7816B;
$lightPeach:#FFAD9B;
$black:#1D1C1E;
$darkGray:#333136;
$lightGray:#F1F3F5;


.bgBlack{
    background-color: $black;
}

.bgLightPeach{
    background-color: #ffad9b6c;
    &:hover{
        background-color: $peach;
        color:#fff;
        .textSite{
            color:#fff;
        }
    }
}
 .bgLight{
        background-image:url('./assets/shared/desktop/bg-pattern-two-circles.svg'),linear-gradient(#FFF3EF,#FFF3EF);
        background-position:center center;
    }
.roundedBottom{
    border-radius: 0 0 1rem 1rem;
}
.roundedTop{
    border-radius: 1rem 1rem 0 0;
}
.ls{
    letter-spacing: 2px;
}
.textDGary{
    color: $darkGray;
}
.textSite{
    color:$peach;
}
.circle{
    background-image: linear-gradient(30deg,#F2E8E8,#fff);
    padding:2rem;
    border-radius: 50%;
    z-index:-1;
}
body{
      .imgLarge{
            display: none;
        }
        .imgMedium{
            display: none;
        }

    font-family: 'Jost', sans-serif;
    .button{
        padding:.8rem 1.5rem;
        border: none;
        font-size: .7rem;
        font-weight: 500;
    }

    .darkBtn{
            @extend .button;
            background-color:$lightGray;
            color:$black;
            &:hover{
                background-color:$lightPeach;
                color:#fff

            }
}
    .lightBtn{
            @extend .button;
            background-color:$peach;
            color:$black;
            &:hover{
                background-color:$lightPeach;
                color:#fff

            }
}
.navLogo{
    width:75%;
}
.navbar-nav{
    background-color: $black;
    color:#fff !important
}
.fs-7{
    font-size: 15px !important;
}
.fs-sm{
    font-size: .7rem;
}
.bg{
            background-image:url('./assets/shared/desktop/bg-pattern-small-circle.svg'),linear-gradient(rgba(231, 129, 107,1),rgba(231, 129, 107,1));
}
.homeCaption{
         background-image:url('./assets/home/desktop/bg-pattern-hero-home.svg'),linear-gradient(rgba(231, 129, 107,1),rgba(231, 129, 107,1));
    background-repeat: no-repeat;
    background-position: right top;
    height:92vh !important;
    overflow: hidden;
    .paragWidth{
    width:90%;
    }
    .learnMoreBtn{
        z-index: 200;
    }
     .homeImage{
            bottom:-350px !important;
          }
}
 .hoverCard{
        background-color: #1d1c1e95;
        &:hover{
          background-color: #e7826bb4;
        }
        .hoverCardTitle{
            letter-spacing: 2px;
        }
    }

    .letstalk{
        @extend .bg;
        position: relative;
        top:60px
    }
    .designHeading{
        @extend .bg;
        .designParagWidth{
            width:100%;
        }
    }
    
    .AboutHeadingInfo{
         background-image:url('./assets/about/desktop/bg-pattern-hero-about-desktop.svg'),linear-gradient(rgba(231, 129, 107,1),rgba(231, 129, 107,1));
    }
    .img{
        border-radius: 1rem 1rem 0 0;
    }
    .AboutLocationWidth{
        width:50%;
    }
      div.AboutLocationWidth{
        left:25%;
    }
    .locationImg{
        border-radius: 1rem 1rem 0 0 !important;
    }
    .locationInfo{
        border-radius: 0 0 1rem 1rem !important;
    }
footer{
    padding-top: 50px;
    .imageBorderBottom{
        border-bottom: 1px solid #2B2B2C;
    }
    .textFooter{
    color:#8E8D8E;
    }
    .socials svg:hover path{
        fill:$lightPeach;
    }
    .links a{
        font-size: 12px;
    }
    .links a:hover{
        text-decoration: underline!important;
    }
}

}

@media screen and (min-width:576px){
    body{
        .AboutLocationWidth{
        width:40%;
    }
      div.AboutLocationWidth{
        left:30%;
    }
    }
}

@media screen and (min-width:768px) {
.roundedBottom{
    border-radius: 0 1rem 1rem 0;
}
.roundedTop{
    border-radius: 1rem 0 0 1rem;
}
   body{
     .imgSmall{
            display: none;
        }
        .imgLarge{
            display: none;
        }
        .imgMedium{
            display: inline-block;
        }
        
       .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navLogo{
    width:auto;
}
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    .navbar-nav{
        background-color: transparent;
        color: #333136 !important;
     }
     .fs-7{
            font-size: 12px !important;
     }
    .homeCaption{
         .paragWidth{
            width:85%;
                        }
       
                }
   
  .designHeading{
        .designParagWidth{
            width:80%;
        }
    }
     .AboutHeadingInfo{
        border-radius: 0 0 1rem 1rem;
    }
    .talentInfo{
        border-radius: 0 0 1rem 1rem;
    }
    .talentImg{
        border-radius: 1rem 1rem 0 0;
    }
      .AboutLocationWidth{
        width:30%;
    }
      div.AboutLocationWidth{
        left:35%;
    }
     .locationImg{
        border-radius: 1rem  !important;
    }
    .locationInfo{
        border-radius: 1rem !important;
    }
    
    footer{
             .footerBorderBottom{
                    border-bottom: 1px solid #2B2B2C;
                }
            .imageBorderBottom{
                border-bottom: none;
            }
    }
   }
}
@media screen and (min-width:992px){
.roundedBottom{
    border-radius: 0 0 1rem 1rem;
}
.roundedTop{
    border-radius: 1rem 1rem 0 0 ;
}
  body{
     .left{
        order:2
     }
      .real{
        order:3;
        .talentImg{
            border-radius: 0 1rem 1rem 0;
        }
      }
      .real + div{
        border-radius: 1rem 0 0 1rem;
      }
      .imgSmall{
            display: none;
        }
        .imgLarge{
            display: inline-block;
        }
        .imgMedium{
            display: none;
        }

    .homeCaption{
             height:65vh !important;
            .paragWidth{
            width:50%;
                        }
                
          .homeImage{
            right:-100px;
            bottom:-320px !important;
          }}
    .designHeading{
        .designParagWidth{
            width:70%;
        }
    }
      .headingImage{
        order:2
    }
      .AboutHeadingInfo{
        border-radius: 1rem 0 0 1rem;
    }
    .img{
        border-radius: 0 1rem 1rem 0;
    }
   
    .talentInfo{
        border-radius: 0 1rem 1rem  0;
    }
    .talentImg{
        border-radius: 1rem 0 0 1rem;
    }
    .AboutLocationWidth{
        width:70%;
    }
    div.AboutLocationWidth{
        left:15%;
    }
  }
}

@media screen and (min-width:1200px){
  .parent{
    width: 1200px;
    margin:0 auto;
  }
  body{
    .homeCaption{
            .paragWidth{
            width:50%;
                        }
                
          .homeImage{
            right:-50px;
            bottom:-320px !important;
          }
        }
    .designHeading{
        .designParagWidth{
            width:50%;
        }
    }
    .AboutLocationWidth{
        width:60%;
    }
    div.AboutLocationWidth{
        left:20%;
    }
  }
}

